
.main-container{
    background-color: #a183ed !important;
    background-size: cover !important;
    min-height: 100vh !important;
    padding-bottom: 30px;
    border-radius: 0px !;
}


.product-container {
    display: flex;
    justify-content: space-between !important;
    text-align: center;
    background-color: white;
    padding: 5px;
    margin-top: 0px;
    
}

.drawer-paper {
    height: 85vh;
    /* margin-top: 122px; */
    background-color: #a183ed !important;
    color: #e9e9e9 !important;
  }
  
  /* .drawer-backdrop {
    background-color: transparent !important;
  } */
  .products-grid {
    margin-left: 4%;
    margin-top: 30px;
  }
  
  .footer {
    background-color: #a183ed;
    color: #dbdbdb !important;
    font-size: 20px !important;
    text-align: center;
    height: 100px;
    
    padding-bottom: 30px ;
  }
  .filter{
    color: #9b7ee4 !important;
    margin-left: 30px !important; 
  }
