.background-container {
    background-image: url('../component/login/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; /* Ensure background covers the entire viewport height */
}
